<nav>
  <ul>
    <li><%= link_to 'Creatures', creatures_path %></li>
    <li><%= link_to 'Crew Members', crew_members_path %></li>
    <li><%= link_to 'Log Entries', log_entries_path %></li>
  </ul>
</nav>